<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @raffle.Name %>
</p>

<p>
  <b>Prize:</b>
  <%= @raffle.Prize %>
</p>

<p>
  <b>Start:</b>
  <%= @raffle.Start %>
</p>

<p>
  <b>End:</b>
  <%= @raffle.end %>
</p>


<%= link_to 'Edit', edit_raffle_path(@raffle) %> |
<%= link_to 'Back', raffles_path %>
