<!DOCTYPE html>
<html>
<head>
<h1>Enter</h1>
<p>Entry id: <%= @entry.id %></p>
<p>Raffle id: <%= @entry.raffle_id %></p>
</head>
<body>
<%= form_tag "/entries/confirm", :method => :post do %>
<%= label_tag(:q, "Name:") %>
<%= text_field_tag(:name) %> <br />
<%= label_tag(:r, "Email:") %>
<%= email_field_tag :email %> <br />
<%= submit_tag "Enter" %>
<% end %>
</body>
</html>
