<h1><%= @raffle.name %></h1>
<p>Unique id: <%= @raffle.id %></p>
<p>Number of prizes: <%= @raffle.num_prizes %></p>
<p><% @prizes.each do |prize| %>
     <%= prize.prize_name %>
     <%= image_tag prize.photo.url(:thumb) %> <br />
   <% end %>
</p>
<%= link_to "Your Raffles", winners_path, :class => "btn" %>

