<%= form_for @raffle, :html => { :class => "well span6 offset3 form-horizontal" } do |f| %>
  <h1 class = "control"><%= @raffle.name %></h1>
  <div class="control-group">
    <%= f.label :name, "Name of raffle ", :class => "control-label" %>
    <%= f.text_field :name, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :num_prizes, "Prizes ", :class => "control-label" %>
    <%= f.text_field :num_prizes, :class => "controls" %>
  </div>
  <div class="control-group">
    <%= f.label :num_entries, "Entries per person", :class => "control-label" %>
    <%= f.text_field :num_entries, :class => "controls" %>
  </div>
  <%= render :partial => "prize", :collection => @prizes %>
  <div class="control-group">
  <div class = "control">
    <%= f.hidden_field :id %> <br/>
    <%= f.submit "Save", :class => "btn" %>
  </div>
  </div>
<% end %>

