<%= form_for @raffle, :method => "post", :url => raffle_type_path, :html => { :class => "well span6 offset3 form-horizontal" } do |f| %>
  <div class = "control-group">
    <%= f.label :name, "Name of raffle: ", :class => "control-label" %>
    <%= f.text_field :name, :required => true, :class => "controls" %>
  </div>
  <div class = "control-group">
    <%= f.label :uri, "URL: http://#{request.host}/enter/", :class => "control-label" %>
    <%= f.text_field :uri, :required => true, :class => "controls" %>
  </div>
  <div class = "control-group">
    <br />
    <%= f.submit "Save", :class => "control" %>
  </div>
<% end %>
