<div class = "well span6 offset3 form-horizontal">
  <div class = "control-group">
    <div class = "control-label">
      <h1><%= @raffle.name %></h1>
    </div>
  </div>
<%= form_for @raffle, :method => :post, :url => raffle_completed_path, :html => { :multipart => true } do |f| %>
  <%= f.hidden_field :id %>
  <%= f.fields_for :prize do |b| %>
    <%= render "prize", :f => b %>
  <% end %>
  <div class = "control-group">
     <%= f.submit "Submit", :class => "control" %>
   </div>
<% end %>
</div>
