<h1><%= @raffle.name %></h1>
<p> unique id: <%= @raffle.id %></p>
<%= form_for @raffle, :method => :post, :url => raffle_prize_path do |r| %>
  <%= r.label "How many prizes?" %>
  <%= r.text_field :num_prizes %> <br />
  <%= r.select(:entries, options_for_select(["1"], "1")) %> <br />
  <%= r.submit "Create" %>
<% end %>
