<div class = "well span6 offset3 form-horizontal">
  <h1><%= @raffle.name %></h1>
  <p><%= @raffle.uri %></p>
   <%= form_for @raffle, :method => :post, :url => raffle_prize_path do |r| %>
     <div class = "control-group">
       <%= r.label :q, "How many prizes?", :class => "control-label" %>
       <%= r.text_field :num_prizes, :class => "controls" %>
     </div>
     <div class = "control-group">
       <%= r.label :q, "How many entries per person? (0 for unlimited)", :class => "control-label" %>
       <%= r.text_field :num_entries, :value => "1", :class => "controls" %>
     </div>
     <div class = "control-group">
       <%= r.hidden_field :id %>
       <%= r.submit "Save", :class => "control" %>
     </div>
  <% end %>
</div>
